.App {
  text-align: center;
  width: 100%;
  background-color: #282c34;
  color: white;
}

#titleHeading {
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 10px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.container {
  width: 100%;
}

.row {
  /* border: 1px solid; */
}

.col {
  border: 1px solid;
  margin-right: 15px;
}

.top-row {
  width: 100%;
}

#searchBoxContainer {
  margin-bottom: 10px;
}
#searchBox {
  width: 75%;
  margin: 20px 5px 5px 5px;
}
#searchButton {
}

.recipe {
  display: flex;
  flex-direction: row;
}
.recipeNameContainer {
  width: 100%;
  border: 2px solid;
}
.recipeName {
  padding: 10px;
  font-weight: bold;
  text-align: left;
  padding-top: 10px;
}
#fullRecipeContainer {
  margin-top: 10px;
  display: flex;
}
#fullRecipeHeaderContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid;
}
#fullRecipeHeader {
  grid-column: 1/-1;
  font-weight: bold;
}
#fullRecipeHeaderTime {
}
#fullRecipeHeaderServings {
}
#fullRecipeIngredientsContainer {
  margin-left: 10px;
  padding-right: 5px;
  text-align: left;
}
#fullRecipeIngredientsHeader {
  text-decoration: underline;
}
.fullRecipeIngredient {
}
#fullRecipeInstructionsContainer {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 1px solid;
}
#fullRecipeInstructionsHeader {
  text-decoration: underline;
}
.fullRecipeInstruction {
}
#fullRecipeImg {
  margin-top: 30px;
  border: 8px solid black;
}
